@model DeviceAccountCredential
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> signInManager
@{
    bool showButtons = (bool)ViewData["ShowButtons"];
}


<tr>
    <td>@Model.Id</td>
    <td>@Model.AccountName</td>
    <td>@Model.AccountFor</td>
    <td>@Model.AccountReferenceNumber</td>
    <td>@Model.Username</td>
    <td>@Model.Password</td>

    <td>
        @if (showButtons)
        {
            if (signInManager.IsSignedIn(User) && (User.IsInRole("administrator")|| User.IsInRole("user")))
            {
                <a class="btn btn-primary btn-sm" asp-page="/DeviceAccounts/Edit" asp-route-id="@Model.Id">Edit</a>
                <a class="btn btn-danger btn-sm" asp-page="/DeviceAccounts/Delete" asp-route-id="@Model.Id">Delete</a>
            }
            <a class="btn btn-info btn-sm" asp-page="/DeviceAccounts/Download" asp-route-id="@Model.Id" asp-route-name="@Model.AccountName">Download</a>
        }
    </td>

</tr>